/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
# Vendors
# Layouts
# Components
    - Header
    - Hamburgers
    - Navigation
    - Posts and pages
    - Comments
    - Widgets
    - Media
    - Captions
    - Galleries
    - Search
    - Share buttons
    - Card
    - Pagination
    - Post Item
    - Spinner
    - Embed
    - Avatar
    - Footer
    - Skip Link
    - Tooltips
# Utilities
	- Accessibility
	- Alignments
    - Backgrounds
# Custom

--------------------------------------------------------------*/

// Import variables and mixins.
@import "abstracts/abstracts";

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
@import "generic/normalize";

/* Box sizing
--------------------------------------------- */
@import "generic/box-sizing";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "base/base";

/*--------------------------------------------------------------
# Vendors
--------------------------------------------------------------*/
@import "vendors/bootstrap";
@import "vendors/scroll-reveal";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
@import "layouts/page-layout";
@import "layouts/site";

/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/
@import "templates/404";

/*--------------------------------------------------------------
# Archive
--------------------------------------------------------------*/
@import "templates/archive";

/*--------------------------------------------------------------
# Single Post
--------------------------------------------------------------*/
@import "templates/single-post";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components/components";

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */
@import "utilities/accessibility";

/* Alignments
--------------------------------------------- */
@import "utilities/alignments";

/* Backgrounds
--------------------------------------------- */
@import "utilities/backgrounds";


/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
.site-footer {
  li:not(:last-child) {
    border-color: rgba(200, 200, 200, 0.4);
  }
}

.type-music {
  audio {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Music Archive
--------------------------------------------------------------*/
.post-type-archive-music{
  .page-header:before{
    z-index: -1;
  }
  .page-title{
    color: $color__primary;
  }
  .featured {
    .card{
      &:hover{
        border: none;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
  .featured a{
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    &:hover{
      background-color: $color__gray;
      color: $color__text-main;
    }
  }
  .categories{
    //border: solid thin green;
    .heading{
      display: inline-block;
      margin-right: 20px;
    }
    ul{
      display: inline-block;
      margin-left: 0;
      padding-left: 0;
    }
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}


/*--------------------------------------------------------------
# Quotes Archive
--------------------------------------------------------------*/
.post-type-archive-daily_quote{
  .page-header:before{
    z-index: -1;
  }
  .page-title{
    color: $color__primary;
  }
  .card {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      background-color: #fbfbfb;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.125);
    }
  }
  .entry-content {
    .quote {
      font-size: 1.25em;
    }
  }
}