.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  border: 1px solid;
  border-radius: 25px;
  line-height: 1.5;
  cursor: pointer;
  padding: rem(10px) rem(25px);
  transition: all 300ms ease-in-out;
  font-size: rem(16px);
  font-weight: 600;
  position: relative;
  transform: translateY(0);

  &:hover,
  &:active,
  &:focus {
    transform: translateY(-2px);
    filter: brightness(85%);
  }
}

.button {
	&--block {
		display: block;
		text-align: center;
	}

  &--lg {
    padding: rem(10px) rem(30px);
    font-size: rem(16px);
  }
}