.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	border: 1px solid;
	border-radius: 25px;
	line-height: 1.8;
	cursor: pointer;
	padding: rem(5px) rem(20px);
	transition: all 300ms ease-in-out;
  font-size: rem(14px);
}

.button {
	&--block {
		display: block;
		text-align: center;
	}

  &--lg {
    padding: rem(10px) rem(30px);
    font-size: rem(16px);
  }
}