.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	border: 1px solid;
	border-radius: 3px;
	line-height: 1;
	cursor: pointer;
	padding: rem(10px) rem(20px);
	transition: all 300ms ease-in-out;
}

.button {
	&--block {
		display: block;
		text-align: center;
	}
}