input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  padding: rem(10px) rem(20px);
  width: 100%;
  display: block;
  font-size: rem(16px);
  font-weight: 400;
  line-height: 1.5;
  appearance: none;

  &:focus {
    color: $color__text-input-focus;
  }
}

fieldset {
  padding: 0;
  border: initial;
}

.ftf-select {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  appearance: none;
}