.gated-page-content{
  //border: solid thin red;
  .thumbnail.featured-img{
    max-width: 350px;
    margin-bottom: 15px;
    border: solid thin #eee;
  }
}

.page-template-page-gated{
  //border: solid thick green;
  //background-color: pink;
  .content-area{
    //background-color: yellow;
    display: block;
    max-width: 950px;
    margin: 0 auto $global-margin-md;
  }

  #main.site-main,
  .sidebar-gated{
    box-sizing: border-box;
    width: 100%;
  }

  #main.site-main{
    padding: 20px 40px;
  }

  h1.article-title{
    margin-bottom: 25px;
    line-height: 1.25;
    font-size: 30px;
    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
    @media screen and (min-width: 1025px) {
      font-size: 42px;
    }
  }

  .sidebar-gated{
    border: solid 1px #ccc;
    padding: 20px;
  }

  .ungated-header,
  .ungated-message,{
    margin-bottom: 20px;
  }

  .ac-form-container form{
    width: 100% !important;
    margin-top: 0 !important;
    p{
      font-size: 16px !important;
    }
    input{
      padding: 8px !important;
    }
    ._form_element * {
      font-size: 16px !important;
    }
    ._form-title{
      font-size: 20px !important;
    }
  }

  @media screen and (min-width:1000px) {
    #main.site-main{
      padding-left: 0;
      padding-right: 40px;
      float: left;
      width: 70%;
      margin-bottom: 40px;
    }
    .sidebar-gated{
      float: right;
      width: 30%;
    }

    .content_inner{
      padding-top: 40px;
    }
  }
  @media screen and (min-width:1300px) {
    .content-area{
      max-width: 1200px;
    }
  }
}

