.lp-hero{
  position: relative;
  .hero-bg-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.85);
  }
}

.lp-footer{
  background-color: $gray-200;
}

ul#menu-lp-footer{
  li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}