.single-resources{
  .header-wrap{
    padding: $global-padding;
    //margin-bottom: 20px;
    //&:after{
    //  content: '';
    //  border-bottom: 3px solid #000;
    //  width: 150px;
    //  display: block;
    //  margin: 0 auto;
    //  padding-top: $global-padding/2;
    //  padding-bottom: $global-padding/2;
    //}
  }
  #primary{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: $global-padding;
  }


  #main.site-main,
  .sidebar{
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
  .sidebar{
    padding: 40px;
    border: solid thin #ccc;
    border-radius: $global-border-radius-cards;
  }
  .thumbnail{
    max-width: 300px;
    border: solid thin $gray-200;
  }
  .thumbnail.Pre-RecordedWebinar,
  .thumbnail.Demo{
    max-width: 100%;
  }
  .single-resource-content{
    padding-left: $global-padding;
    padding-right: $global-padding;
  }
  .ac-form-container{
    form{
      width: 100% !important;
      margin-top: 0 !important;
      box-sizing: border-box !important;
      padding: 0 !important;
      p{
        font-size: 16px !important;
      }
      input{
        padding: 8px !important;
      }
      ._form_element * {
        font-size: 16px !important;
      }
      ._form-title{
        font-size: 20px !important;
      }
    }
  }
  @media screen and (min-width:1000px) {
    .single-resource-content{
      padding-right: 40px;
    }
    //.header-wrap{
    //  margin-bottom: 20px;
    //}
  }

  @media screen and (min-width:1000px) {
    #main.site-main{
      padding-left: 0;
      padding-right: 40px;
      float: left;
      width: 65%;
      margin-bottom: 40px;
    }
    .sidebar{
      float: right;
      width: 35%;
    }
  }
  @media screen and (min-width:1300px) {
    #primary{
      max-width: 1200px;
    }
  }
}
