# .gitignore file for WordPress that ignores everything except:
#
# - .gitignore
# - favicon.ico
# - wp-config.php
# - everything in mu-plugins
# - my-plugin
# - my-theme (except for .sass-cache)
#
# based on https://gist.github.com/jdbartlett/444295
/*
!.gitignore
# !favicon.ico
# !wp-config.php
!assets
!wp-content

wp-content/*
!wp-content/mu-plugins
!wp-content/plugins
!wp-content/themes

wp-content/plugins/*
!wp-content/plugins/jt-featured-projects
!wp-content/plugins/fivetwofive-cta-shortcode-plugin
!wp-content/plugins/fivetwofive-lp-post-type
!wp-content/plugins/fivetwofive-resources-post-type
!wp-content/plugins/fivetwofive-events-post-type

wp-content/themes/*
!wp-content/themes/twentytwenty
!wp-content/themes/genesis
!wp-content/themes/altitude-pro
!wp-content/themes/ftf-altitude-pro
!wp-content/themes/genesis-fivetwofive

# always ignore node_modules folders
**/node_modules

# always ignore these files
sftp-config
.DS_Store
Thumbs.db
.htaccess
sftp-config.json
Thumbs.db
.DS_Store
.svn
.cvs
.sass-cache

# theme related
config.json

# always ignore files with these extensions
*.sql
*.bak
*.swp
