.lp-header{
  background-color: $gray-200;
  .header-wrapper{
    a{
      .site-title{
        font-family: $font-body !important;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 2px;
        line-height: 1;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
  #phone-number-and-cta-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include tablet-max{
    padding-top: 10px;
    padding-bottom: 20px;
    .site-title{
      display: block;
    }
  }
  @include tablet{
    .header-wrapper a{
      text-align: left;
    }
    .button-wrapper a{
      float: right;
      //margin-top: 3px;
    }
  }
  @include desktop{
    .button-wrapper a{
      //margin-top: 10px;
    }
  }
}

