/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer,
.site-footer a,
.site-footer p {
  color: #fff;
}

.site-footer{
  background-color: $black;
  text-align: left;
  font-family: $font-body;
  padding: 20px;
  a:hover {
    color: $primary;
  }
  p{
    text-transform: none;
    color:#999;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  .genesis-nav-menu{
    margin-top: 0;
  }
  @include max-800{
    .wrap{
      padding-left:0;
      padding-right:0;
    }
  }
}