.acf-flexible-content {
  .layout {
    border-color: #2980b9;
    .acf-fc-layout-handle {
      background-color: #3498db;
      border-color: #2980b9;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
    }
    .acf-fc-layout-order {
      background: #ffffff;
    }
  }
}