.cta{
  padding: 30px 20px 40px;
  display: block;
  // margin-bottom: 20px;
  border-radius: 3px;
  background-color: #eee;
}
.cta-title{
  font-size: 26px;
  line-height: 1em;
  margin: 0;
}

.cta-download:before,
.cta-download:after{
  display: table;
  content: "";
  background-image: url(/wp-content/themes/bridge-child/rs_assets/img/common/cta-footer-highlight.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 110%;
  height: 23px;
  position: absolute;
}
.cta-download:before{
  top: 0;
  left: 0;
  background-position: center top;
}
.cta-download:after{
  bottom: 0;
  left: 0;
  background-position: center bottom;
}
.cta-download-inner{
  max-width: 1000px;
  margin: 0 auto;
}

.cta-download{
  background: linear-gradient(75deg, #114ae6 0%, #02d3e6 100%);
  color: $white;
  position: relative;
  text-align: center;
  .cta-title{
    margin-bottom: 15px;
  }
  .cta-subtitle{
    margin-bottom: 10px;
  }
  a.button{
    text-align: center;
  }
  @media screen and (min-width: 639px) {
    .ftf-col-1{
      width: 75%;
    }
    .ftf-col-2{
      padding: 0 0 0 40px;
      width: 25%;
      min-width: 170px;
    }
  }
}

p.cta-paragraph.text-white{
  font-size: 18px;
}

.cta-contact{
  background-color: #114ae6;
  color: #ffffff;
  background-image: url(/wp-content/themes/bridge-child/rs_assets/img/common/cta-footer-highlight.png;), url(/wp-content/themes/bridge-child/rs_assets/img/common/cta-footer-highlight.png;);
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
  background-size: 110%;
}

.cta-community{
  background-color: #eeeeee;
  background: linear-gradient(to left bottom, #eeeeee 50%, #e4e4e4 50%);
}
.cta-community h3{
  color: #114ae6;
}
.cta-community .button{
  transition: box-shadow 0.3s ease-in-out;
}
.cta-community .button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.cta-criblu{
  background: linear-gradient(75deg, #114ae6 0%, #02d3e6 100%);
  padding: 40px;
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
  background-size: 110%;
  position: relative;
}
.cta-contact-form{
  background-color: #114ae6;
  padding: 40px;
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
  background-size: 110%;
  position: relative;
}
.cta-criblu:before,
.cta-contact-form:before,
.cta-criblu:after,
.cta-contact-form:after{
  display: table;
  content: "";
  background-image: url(/wp-content/themes/bridge-child/rs_assets/img/common/cta-footer-highlight.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 110%;
  height: 23px;
  position: absolute;
}
.cta-criblu:before,
.cta-contact-form:before{
  top: 0;
  left: 0;
  background-position: center top;
}
.cta-criblu:after,
.cta-contact-form:after{
  bottom: 0;
  left: 0;
  background-position: center bottom;
}
#cta-criblu-content-wrapper{
  max-width: 650px;
  margin: 0 auto;
}
#cta-contact-form-content-wrapper{
  max-width: 650px;
  margin: 0 auto;
}
#cta-criblu-content-wrapper ._form_3 form,
#cta-contact-form-content-wrapper ._form_5 form{
  margin-top: 0 !important;
  text-align: center !important;
}
#cta-criblu-content-wrapper ._form-title,
#cta-contact-form-content-wrapper ._form-title,
#cta-criblu-content-wrapper ._form-label,
#cta-contact-form-content-wrapper ._form-label{
  font-family: 'Nevo',sans-serif;
  color: #ffffff;
}
#cta-criblu-content-wrapper form ._form-title,
#cta-contact-form-content-wrapper form ._form-title{
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
#cta-criblu-content-wrapper ._form-content p,
#cta-contact-form-content-wrapper ._form-content p,
#cta-criblu-content-wrapper ._form-thank-you,
#cta-contact-form-content-wrapper ._form-thank-you{
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 20px;
}
#cta-criblu-content-wrapper ._form-content input[type=text],
#cta-contact-form-content-wrapper ._form-content input[type=text]{
  background-color: #ffffff;
  border: none;
  color: #7a8288;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 10px 12px;
  margin: 0 auto;
  max-width: 350px;
}

#cta-criblu-content-wrapper ._button-wrapper button._submit,
#cta-contact-form-content-wrapper ._button-wrapper button._submit {
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.25px;
  padding: 12px 24px !important;
  transition: all 200ms ease-in-out;
  background-color: #02d3e6 !important;
  border: 0 !important;
  border-image-width: 0 !important;
  outline: none;
  margin: 0 !important;
}
#cta-criblu-content-wrapper ._button-wrapper button._submit:hover,
#cta-contact-form-content-wrapper ._button-wrapper button._submit:hover{
  background-color: #01bdce !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

@media screen and (min-width: 639px) {
  .cta{
    //padding: 60px 40px;
    padding: 50px 40px;
  }
  .cta-download-inner{
    display: flex;
    align-items: center;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  #cta-criblu-content-wrapper ._form_element._full_width:not(._clear),
  #cta-contact-form-content-wrapper ._form_element._full_width:not(._clear){
    float: left;
    max-width: 425px !important;
  }
  #cta-criblu-content-wrapper ._form_element._x62957983 ._form-label,
  #cta-contact-form-content-wrapper ._form_element._x62957983 ._form-label{
    display: none;
  }
  #cta-criblu-content-wrapper ._form-content input[type=text],
  #cta-contact-form-content-wrapper ._form-content input[type=text]{
    margin: 0 0 0 auto;
  }
  #cta-criblu-content-wrapper ._button-wrapper{
    float: left;
    width: 115px !important;
  }
  #cta-contact-form-content-wrapper ._button-wrapper{
    float: left;
    width: 95px !important;
  }
}

@media screen and (min-width: 1280px) {
  .cta-criblu:before,
  .cta-contact-form:before,
  .cta-criblu:after,
  .cta-contact-form:after{
    height: 35px;
  }
}

.cta-button-1{
  background-color: $primary;
  &:hover{
    background-color: $secondary;
    color: $white;
  }
  @media screen and (max-width: 639px) {
    border: solid thin $secondary;
  }
}

.cta-button-2{
  background-color: $secondary;
  transition: background-color 0.3s ease-in-out;
  &:hover{
    color: $white;
    background-color: #00bbcc;
  }
}

.cta-button-3{
  background-size: 200% auto;
  color: $white;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background-image: linear-gradient(to right, $primary 0%, #5ad4d8 50%, $secondary 100%);
  transition: 0.5s;
  &:hover{
    background-position: right center;
    color: $white;
  }
}
