.ftf-module-gallery {
  &__item {
    display: inline-block;
    transform: translateY(0);
    transition: all .3s ease-in-out;

    &:hover,
    &:focus-within{
      box-shadow: 0 24px 48px rgb(0 0 0 / 20%);
      transform: translateY(-5px);
    }
  }

  &__item-image {
    display: block;
  }

  &__column {
    margin-bottom: 30px;
  }
}