.ftf-module-announcement {
  background-size: cover;

  &__close {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  &.js-is-sticky-yes {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;

    .admin-bar & {
      top: 32px;
    }
  }
}

@media screen and (max-width:782px) {
  .ftf-module-announcement {
    &.js-is-sticky-yes {
      .admin-bar & {
        position: absolute;
        top: 46px;
      }
    }
  }
}