.ftf-module-works {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  @media screen and (min-width: 768px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 992px) {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}