.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.site-branding__logo {
  display: flex;
  .custom-logo-link {
    display: inline-block;
  }

  .custom-logo {
    display: block;
  }
}