/*
Theme Name: Fivetwofive block theme
Theme URI: https://github.com/capitalJT/fivetwofive-cw
Author: Fivetwofive creative team
Author URI: https://fivetwofive.com/
Description: 
Requires at least: 5.8
Tested up to: 5.9
Requires PHP: 5.7
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: 
Text Domain: fivetwofive-block-theme
Tags: blog, news, portfolio, one-column, wide-blocks, accessibility-ready, block-patterns, block-styles, custom-colors, custom-logo, custom-menu, editor-style, featured-images, full-site-editing, rtl-language-support, sticky-post, threaded-comments, translation-ready
*/