.main-navigation {
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 0.5rem 0;
		transition: color 300ms ease-in-out;
	}
}

.menu-toggle {
	margin-left: auto;
}

// Hide the menu toggle if mega-menu is active.
.mega-menu-primary-menu .menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  /* Small menu. */
  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
  }

  .menu-toggle,
  .menu-toggle:hover,
  .menu-toggle:focus,
  .menu-toggle:active {
    background-color: transparent;
    box-shadow: none;
  }

  .main-navigation.toggled {
    .nav-menu {
      max-width: 700px;
      margin: 0 auto;
    }
  
    .menu-primary-menu-container {
      position: absolute;
      z-index: 99999;
      background-color: #fff;
      width: 100%;
      top: 100%;
      left: 0;
      right: 0;
      padding: 20px;
      border-top: 1px solid #e8e5e5;
    }
  }
}

@media screen and (max-width: 767px) {
  .main-navigation.toggled {
    .nav-menu {
      max-width: 520px;
    }
  }
}

@media screen and (min-width: 769px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation {
		display: flex;

		ul {
			display: flex;
		}

		.menu-primary-menu-container {
			margin-left: auto;
			position: static;
			border: none;
		}

		.nav-menu {
			justify-content: flex-end;
			li {
				margin-right: rem(20px);
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (min-width: 993px) {
	.main-navigation {
		.nav-menu {
			li {
				margin-right: rem(30px);
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 1.5em 0;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
