.multi-column-module{
  //.module-multi-col-img-wrapper img {
  //  max-width: 100%;
  //  max-height: 200px;
  //  object-fit: cover;
  //}
  //h4 {
  //  font-size: 20px;
  //  padding: 0 30px;
  //}
  span {
    color: #e62f24;
  }
  div[class*='col'] h4 {
    font-size: 16px;
    padding: 0 30px;
  }
  p.footnote {
    position: relative;
  }
  sup {
    color: #e52f23;
  }
  @media screen and (max-width: 768px) {
    div[class*='col'] {
      width: 100%;
      float: none;
      clear: both;
    }
  }
}