.case-study-view-section {
  background: url(/system/content-uploads/campus-background.jpg) no-repeat center center transparent;
  background-size: cover;
}

.overlay-white {
  background: rgba(255, 255, 255, 0.8);
  overflow: auto;
}

.case-study-view-section p {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 400;
}

.case-study-view-section .cs-img {
  width: 100%;
  max-width: 360px;
}

.case-study-view-section a {
  color: #000;
}

.case-study-view-section h4 {
  margin-top: 15px;
  margin-bottom: 30px;
}