.ftf-module.multi-column-video-module{
  .thumb-wrap a {
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80px;
      height: 80px;
      z-index: 1;
      background: url('/assets/img/play_button.png') center center no-repeat;
      background-size: 100% auto;
      transform: translate(-50%, -50%);
    }
  }
  img{
    width: 100%;
    height: auto;
  }
  .text-wrap{
    line-height: 1.5;
  }
}