.section.content-block-section {
  margin: 0 auto;
  padding: 72px 0;
  img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    display: block;
  }
  a.cta-button {
    //color: #ff0000;
    padding: 7px 15px;
    outline: 0;
    font-size: 20px;
    line-height: 24px;
    margin: 48px auto;
    white-space: normal;
  }
}