.sst-module.resource-section{
  background: $black;
  color: $white;

  h3 {
    font-weight: bold;
  }

  .img-col-wrapper {
    border-right: 1px solid #808080;
    .dot-spot {
      margin-top: 34px;
    }
  }
  .resource-col-wrapper{
    li{
      list-style: none;
      margin-bottom: 15px;
    }
    .pdf,
    .video,
    .link {
      color: $white;
      font-weight: bold;
      padding-left: $global-padding * 1.5;
      min-height: 42px;
      position: relative;
      line-height: 42px;
      display: inline-block;
    }

    .pdf.long-title,
    .link.long-title {
      line-height: 24px;
    }

    .video:before {
      content: '';
      background: url('/system/content-uploads/play-red-button.png') no-repeat center left transparent;
      position: absolute;
      top: 0;
      left: 0;
      background-size: 100%;
      width: 38px;
      height: 38px;
    }

    .pdf:before {
      content: '';
      background: url('/system/content-uploads/pdf-icon.png') no-repeat center left transparent;
      position: absolute;
      top: 0;
      left: 0;
      background-size: 100%;
      width: 30px;
      height: 41px;
    }

    .link:before {
      content: '';
      background: url('./img/link-icon.png') no-repeat center left transparent;
      position: absolute;
      top: 0;
      left: 0;
      background-size: 100%;
      width: 30px;
      height: 41px;
    }
  }

  img{
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 1024px) {
    .img-col-wrapper {
      padding-right: $global-padding * 2;
    }
    .resource-col-wrapper{
      padding-left: $global-padding * 2;
    }
  }
}

