.image-overlay-module {
  position: relative;
  color: #fff;
  .half-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: 0.65;
  }
  &.right-align .half-overlay {
    left: 50%;
  }
  &.right-align div[class*='col'] {
    float: right;
  }
  ul.dot-spot {
    margin-bottom: 36px;
  }
  li {
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
    line-height: 150%;
    font-size: 18px;
  }
  a {
    color: white;
    padding: 7px 15px;
    background-size: contain;
    margin: 0;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #ee2e24;
    transition: 0.5s;
  }
  a:before {
    position: absolute;
    content: '';
    background: url(/system/content-uploads/bracket-mid-left.png) no-repeat center left transparent;
    background-size: 11px;
    width: 11px;
    height: 38px;
    top: 0px;
    left: 0px;
  }
  a:after {
    position: absolute;
    content: '';
    background: url(/system/content-uploads/bracket-mid-right.png) no-repeat center right transparent;
    background-size: 11px;
    width: 11px;
    height: 38px;
    top: 0px;
    right: 0px;
  }
  a:hover {
    opacity: 0.8;
  }
  @media screen and (max-width: 767px) {
    .half-overlay {
      width: 100%;
    }

    &.right-align .half-overlay {
      left: 0%;
    }
  }
}