.carousel-testimonials{
  .testimonial-img {
    max-width: 490px;
    width: 100%;
    min-height: 340px;
  }
  .testimonial {
    margin-right: 20px;
    .location {
      color: #b3b3b3;
      font-size: 14px;
      display: block;
      line-height: 100%;
      font-weight: 400;
      margin-top: 10px;
    }
    .title {
      color: #b3b3b3;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .testimonial-wrap {
    background: #FAFAFA;
    align-items: center;
  }
  .img-wrap {
    //width: 490px;
    display: inline-block;
    vertical-align: top;
    //margin-left: -6px;
  }
  .text-wrap {
    display: inline-block;
    //width: calc(100% - 500px);
    //padding: 100px 80px 0 80px;
    box-sizing: border-box;
  }
  .quote {
    background: transparent;
    font-size: 25px;
    line-height: 1.2;
    display: inline-block;
    font-weight: 500;
    position: relative;
    padding: 0 30px;
  }
  .quote::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(/assets/img/quote-left.png) no-repeat center center transparent;
    background-size: 28px;
    width: 28px;
    height: 27px;
  }
  .quote::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(/assets/img/quote-right.png) no-repeat center center transparent;
    background-size: 28px;
    width: 28px;
    height: 27px;
  }
  .slider-nav {
    margin-top: 20px;
  }
  .slider-nav .slick-next {
    background: url(/assets/img/arrow-right.png) no-repeat center center transparent;
    background-size: 20px;
    height: 40px;
  }
  .slider-nav .slick-prev {
    background: url(/assets/img/arrow-left.png) no-repeat center center transparent;
    background-size: 20px;
    height: 40px;
    left: -45px;
  }
  .slider-nav .slick-next::before,
  .carousel-testimonials .slider-nav .slick-prev::before {
    display: none;
  }

  .thumb.slick-current.slick-active,
  .carousel-testimonials .thumb:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .slick-slider.slider-home .slick-track,
  .carousel-testimonials .slick-slider.slider-home .slick-list {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    -o-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }

  .slider-nav .location {
    display: block;
    color: #000;
  }

  .quote.no-quotes::before,
  .quote.no-quotes::after {
    display: none;
  }

  .slider-for.single-slider .slick-prev {
    background: url(/assets/img/arrow-left.png) no-repeat center center transparent;
  }
  .slider-for.single-slider .slick-next {
    background: url(/assets/img/arrow-right.png) no-repeat center center transparent;
  }
  .slider-for.single-slider .slick-prev,
  .slider-for.single-slider .slick-next {
    background-size: 20px;
    height: 40px;
  }
}

.slider-for.single-slider .slick-prev:before, .slider-for.single-slider .slick-next:before {
  display: none;
}

@media screen and (max-width: 1200px) {
  .carousel-testimonials {
    overflow: hidden;
    min-width: 100%;
    width: 0;
  }

  .carousel-testimonial-stage .testimonial {
    margin-right: 0;
  }

  .carousel-testimonials .slider-nav .slick-prev {
    left: 0;
    z-index: 10;
  }

  .carousel-testimonials .slider-nav .slick-next {
    right: 0;
    z-index: 10;
  }

  .carousel-testimonials.carousel-testimonial-stage .quote {
    font-size: 20px;
  }
}
@media all and (max-width: 1200px) {
  .carousel-testimonials .slider-for.single-slider .slick-prev {
    left: 0;
    z-index: 1;
  }

  .carousel-testimonials .slider-for.single-slider .slick-next {
    right: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .carousel-testimonials .slider-for.single-slider .img-wrap {
    display: block;
  }

  .carousel-testimonials .slider-for.single-slider .img-wrap {
    height: 240px;
    overflow: hidden;
  }

  .carousel-testimonials .slider-for.single-slider .testimonial-img {
    min-height: auto;
  }

  .carousel-testimonials .slider-for.single-slider .testimonial-img.regular-img {
    display: block;
  }
}