.module-results{
  .results-item{
    opacity: 0;
  }
  .results-item-inner-wrapper{
    @include global-hover-interaction;
  }

  @media screen and (min-width: 990px) {
    .results-item-inner-wrapper{
      min-height: 280px;
    }
  }
}

.fade-in {
  opacity: 1.0 !important;
  animation-name: fadeIn;
  animation-duration: 300ms; /* or: Xms */
  //animation-iteration-count: 1;
  animation-direction: alternate; /* or: normal */
  animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards; /* or: backwards, both, none */
  //animation-delay: 200ms; /* or: Xms */
  //animation: fadeIn $global-speed $global-ease;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1 !important;}
}

.visible{
  opacity: 1.0 !important;
}