.contact-page {
  .social-icons{
    img{
      width: 60px;
    }
  }

  .wpforms-container .wpforms-field {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.page-id-19{
  .entry-header,
  .entry-content{
    @include animation('fadein 1s');
  }
}