.home{
  #front-page-1{
    .name,
    .description{
      word-break: break-word;
    }
    .name{
      font-size: $h4-font-size;
    }
    .description{
      font-size: $h6-font-size;
      font-weight: normal;
      line-height: 1.5;
    }
    a:hover{
      color: $secondary;
    }
  }
  @include max-800{
    .site-inner{
      padding:0;
    }
  }
  @include medium-screen{
    .site-inner{
      max-width:100%;
      margin-top: 71px;
    }
    #front-page-1{
      .name{
        font-size: $h3-font-size;
      }
      .phrase-designer,
      .phrase-developer{
        //display: block;
      }
      .description{
        font-size: $h5-font-size;
      }
    }
  }
  @include max-1023{
    .site-inner{
      margin-top: 0;
    }
  }
  @include large-screen{
    #front-page-1{
      .name{
        font-size: $h2-font-size;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////
// Sections
////////////////////////////////////////////////////////////////////////

// @include medium-screen{}
// @include max-1023{}
// @media only screen and (min-width: 800px) and (max-width: 1023px) {}
// @include max-1280{}
// @include large-screen{}
// @media only screen and (max-width: 1200px){}

// All experimental code for the homepage
.home .wrapper{
  display: block;
  .section{
    box-sizing: border-box;
    //border: solid thick red;
  }
  .inner-section{
    padding: 1em;
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  #intro{
    height: 50vh;
    display: flex;
    align-items: center;
    width: 100%;
    .inner-section{
      margin-top: -4em;
      color: white;
    }
  }
}

// Shared Gradient not being used. Will probably use it somewhere else at a later time.
%sharedGradient{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(30%,rgba(0,0,0,0.5)), color-stop(80%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.9)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#e6000000',GradientType=0 );
  // overflow: scroll;
  position: relative;
}

.home.full-width-content .content{
  padding-bottom: 0;
}

// Fix bootstrap carousel bug on homepage
.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5,
.front-page-6,
.front-page-7 {
  position: static;
}

.home{
  .carousel{
    img{
      width: 150px;
      border-radius: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    blockquote{
      padding: 10px;
      &:before{
        //border: solid thin red;
        display: inline-block;
        height: 20px;
        line-height: 1em;
        left: inherit;
        top: 0;
        margin: 0;
        display: block;
      }
    }
    ol > li{
      list-style-type: none;
    }
  }
  .carousel-indicators{
    margin-bottom: 0;
    li{
      background-color: #ccc;
      &.active{
        background-color: map-get($theme-colors, primary);
      }
    }
  }
  .carousel-inner{
    padding-bottom: 20px;
  }
  .wpforms-container .wpforms-field{
    padding: 0;
  }

}

.carousel{
  @include media-breakpoint-down(md){
    margin-bottom: $global-margin-md;
    img{
      margin-bottom: $global-margin-sm;
    }
  }
  @include media-breakpoint-up(md){
    .row{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// Change the color of the indicator
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23200' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23200' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

// This is used on the featured projects section and is being controlled by js for fading in
.hideme {
  opacity:0;
}

.featured-projects-homepage-wrapper,
.front-page-contact-form{
  h4{
    font-size: 16px;
    font-weight: 800;
    //letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin: 0 auto 30px;
    max-width: 1200px;
  }
  .wpforms-field-textarea{
    margin-bottom: 20px;
  }
}

.front-page-contact-form {
  background-image: url(/wp-content/themes/ftf-altitude-pro/dist/images/bg-5.jpg);
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  .inner-wrapper{
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
    display: table;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
  }
  div.wpforms-container-full .wpforms-form button[type=submit]{
    background-color: $primary;
    border-color: $primary;
    color: $white;
    border-radius: 4px;
    &:hover{
      color: $dark;
    }
  }
  .form{
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.75);
  }
  #wpforms-302-field_2{
    border-radius: 4px;
  }
  @include media-breakpoint-up(md){
    background-attachment: fixed;
    .form{
      max-width: 75%;
      //background-color: red;
    }
  }
  @include media-breakpoint-up(lg){
    .form{
      max-width: 50%;
      //background-color: blue;
    }
  }
}

.skills{
  .img-container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.home{
  .site-container{
    @include animation('fadein 2s');
  }
}

._form_1{
  form{
    width: 100% !important;
  }
}