// Lato
@font-face {
  font-family: 'Lato';
  src: url('../../src/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('../../src/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// DM_Serif_Display
@font-face {
  font-family: 'DM_Serif_Display';
  src: url('../../src/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}