// My Variables

// Spacing
$global-margin-sm: 1rem;
$global-margin-md: 2rem;

$global-padding: 20px;

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #E24D25 !default;
$yellow:  #FFC422;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
        "blue":       $blue,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "white":      $white,
        "gray":       $gray-600,
        "gray-dark":  $gray-800
), $colors);

$primary:       $yellow !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
), $theme-colors);


// Bootstrap Overrides
$color-grey: #666666;
$light-grey: #A1A0A1;
$dark-grey: #666666;
$border-radius: 4px;

$global-speed: 0.3s;
$global-ease: all 0.3s ease-in-out;
$global-box-shadow: 0 8px 8px -6px rgba(0,0,1,0.45);

$global-border-radius-cards: 4px;

$font-weight-bold: bold;


//$h1-font-size: 60px;
$h1-font-size: 2.5rem;

//$h2-font-size: 50px;
$h2-font-size: 2rem;

//$h3-font-size: 40px;
$h3-font-size: 1.75rem;

//$h4-font-size: 34px;
$h4-font-size: 1.5rem;

//$h5-font-size: 24px;
$h5-font-size: 1.25rem;

//$h6-font-size: 18px;
$h6-font-size: 1rem;

//$body-font-size: 16px;
$body-font-size: 1rem;
$small-font-size: 12px;


//$font-heading: 'Montserrat', sans-serif;
$font-heading: 'DM_Serif_Display', sans-serif;
//$font-body: 'Lato', sans-serif;
$font-body: 'Roboto', sans-serif;



// media queries resource: http://stephen.io/mediaqueries/
$sm-phone-width: 420px;
$md-phone-width: 480px;
$phablet-width: 520px;
$tablet-width: 768px;
$medium-width: 992px;
$desktop-width: 1024px;
$large-width: 1200px;