$global-margin-sm: 1rem;
$global-margin-md: 2rem;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #E24D25 !default;
$yellow:  #FFC422;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
        "blue":       $blue,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "white":      $white,
        "gray":       $gray-600,
        "gray-dark":  $gray-800
), $colors);

$primary:       $yellow !default;
//$primary:       $teal !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
), $theme-colors);


@import "vendor/bootstrap";


// My Variables

$color-grey: #666666;
$light-grey: #A1A0A1;
$dark-grey: #666666;
$border-radius: 4px;

$global-speed: 0.3s;
$global-ease: all 0.3s ease-in-out;
$global-box-shadow: 0 8px 8px -6px rgba(0,0,1,0.45);

$font-weight-bold: bold;

@import "global/base";

@import "mixins/media-queries";
@import "mixins/animations";

@import "global/typography";
@import "icon-font";


@import "components/inputs";
@import "components/ctas";

// @import "partials/footer-widgets";
@import "layout/navigation";
@import "layout/site-footer";
@import "layout/footer-widgets";

@import "partials/scroll-to-top";
@import "partials/blogroll-page";
@import "partials/work-example";
@import "partials/entries";
@import "partials/pagination";
@import "partials/modal";
@import "partials/featured-projects";

@import "templates/work-template";
@import "templates/template-gated-page";

@import "pages/home-page";
@import "pages/case-studies";
//@import "pages/work";
@import "pages/about";
@import "pages/contact";
@import "pages/process";
@import "pages/projects";



.site-header{
  &.dark{
    box-shadow: 0 3px 5px rgba(0,0,0,.05);
    .site-description{
      text-indent: -9999px;
      height:0;
    }
  }
}

.site-inner{
  @include max-1023{
    margin-top: 30px;
  }
}

.title-area{
  //width: 250px;
}

@include medium-screen{
  .site-header{
    padding-bottom:0;
  }
  .title-area{
    padding-top:10px;
    padding-bottom:10px;
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button, .widget .button{
  @extend .btn;
}

div#respond.comment-respond{
  display: none;
}

.more-link{
  display: block;
  border: none !important;
}

/* TODO: Make this a util class */
.has-hover{
  position: relative;
  display: block;
  transition: $global-ease;
  &:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 20px -15px rgba(0,0,0,0.5);
  }
}

.sd-social-icon .sd-content ul li[class*=share-] a.sd-button{
  padding: 7px;
}


aside{
  padding-top: 10px;
  position: relative;
}

.fixed-widget {
  position: fixed;
  top:60px;
  right:0;
  //transform: translateZ(0);
  //-webkit-transform: translateZ(0);
}

#contact-form-19{
  .contact-form input[type=email],
  .contact-form input[type=text],
  .contact-form input[type=url],
  .contact-form textarea{
    width: 100%;
    max-width: 100%;
  }
}


.entry-content ul{
  margin-left: 0;
}

.entry-content ul > li {
  list-style-type: inherit;
  margin-left: 30px;
}

.test-images{
  img{
    border: solid thin #eee;
  }
}

img:focus {
  outline-color: transparent;
  outline-width: inherit;
  outline-style: unset;
}

.clearboth{
  clear: both;
}

.archive.tag,
.archive.category{
  .featured-projects{
    img{
      float: none !important;
    }
    .entry-footer:before{
      padding-top: 30px;
    }
  }
}

.sidebar-primary{
  .widget{
    ul li a {
      color: $dark;
      &:hover{
        color: $primary;
      }
    }
  }
}

.prev-next-navigation{}

.single-project-thumbnail img {
  width: 100%;
  height: auto;
}

.featured-project-list-item{
  h1{
    color: $secondary;
    font-size: $h4-font-size;
  }
  .project-title.h4{
    font-size: $h5-font-size;
  }
  @include medium-screen{
    h1{
      font-size: $h3-font-size;
    }
    project-title.h4{
      font-size: $h4-font-size;
    }
  }
}
.featured-project-list-item a{
  //@extend .jt-text-link;
  color: $primary;
  //&:hover{
  //  color: $primary;
  //}
}

.nav-link.active{
  font-weight: 700;
}

.postid-839{
  .carousel-caption{
    background-color: rgba(0,0,0,0.85);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.project-excerpt p{
  margin-bottom: 0;
}

//body p {
//  color: red !important;
//}