.entry {
	&-header {
		padding: rem(25px) 0;
	}

	&-title {
		margin-bottom: 0.375em;
		a {
			color: inherit;
			transition: color 300ms ease-in-out;
		}
	}

	&-footer,
	&-meta {
		font-size: 85%;
		line-height: 1.5;
	}

	&-footer {
		span {
			display: block;
			margin-bottom: 0.278em;
		}
	}

	&-read-more {
		padding-left: rem(5px);
	}

	.post-thumbnail {
		margin-top: 1.5em;
		display: block;
	}

	.home &,
	.archive & {
		padding: rem(25px) 0;
		margin-bottom: rem(25px);
		border-bottom: 1px solid #efefef;

		.entry-header {
			padding: 0;
		}
	}

	&.sticky {
		display: block;
		background-color: #efefef;
		padding: 1.5625rem;
		border-radius: 5px;
	}

    &-content {
      a {
        text-decoration: underline;
      }
    }
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.page-title {
	margin: 0;
}