.page-numbers {
  border: 1px solid;
  padding: rem(5px) rem(10px);
  border-radius: 100px;
  display: inline-block;
  margin-right: rem(10px);
  min-width: 33px;
  text-align: center;
  transition: all 300ms ease-in-out;
  font-size: rem(15px);
}